.container {
    display: flex;
    justify-content: space-around;
}

#div-hino {
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Impact;
}

#div-bart {
    display: flex;
    align-items: center;
}

#bart {
    width: 80%;
    height: 80%;
}

body {
    background-color: rgba(0, 0, 255, 0.8);
}