.container {
    display: flex;
    justify-content: space-around;
}

#div-hino {
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Impact;
}

#div-hino h1[name="titulo"] {
    color: rgb(255, 255, 255);
}

#div-hino p:nth-of-type(2n-1) {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#div-hino p:nth-of-type(2n) {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#div-bart {
    display: flex;
    align-items: center;
}

#bart {
    width: 80%;
    height: 80%;
}

body {
    background-color:var(--bg-color)
}